<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/festival_team_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- List of mapping files -->
        <mapping class="jd2.baggins.beans.Passport" />
        <mapping class="jd2.baggins.beans.Teammate" />
        <mapping class="jd2.baggins.beans.Sex" />
        <mapping class="jd2.baggins.beans.Address" />
        <mapping class="jd2.baggins.beans.Occupation" />
        <mapping class="jd2.baggins.beans.Employer" />
        <mapping class="jd2.baggins.beans.StreetType" />


    </session-factory>
</hibernate-configuration>
